body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0b6e4f;
  color: #ffffff;
  height: 100vh;
  width: 100%;
}

input {
  border-radius: 4px;
  height: 28px;
  width: 100%;
}

form {
  display: flex;
}

.submit-button {
  border-radius: 4px;
  width: 174px;
  height: 35px;
  background: #ceff1a;
  color: #000000;
}

.success-button {
  background: #a5ffd6;
  color: #000000;
}
.remove-button {
  background: #d44d5c;
  color: #ffffff;
}

button {
  cursor: pointer;
}

.todo {
  background: #efd9ce;
  width: 100vh;
  padding: 6px;
  color: #000000;
  margin-top: 13px;
}
